Django==5.2.6
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
python-dotenv==1.1.1
django-cors-headers==4.9.0
django-filter==25.1
openai==1.35.1
celery==5.5.3
numpy==1.26.4
gunicorn==23.0.0
psycopg2-binary==2.9.9
dj-database-url==3.0.1
